.flashcard {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: color 0.1s;
}
.gameArea {
    text-align: center;
}
button, input {
    display: block;
    margin: 10px auto;
}
#chart_div {
    width: 900px;
    height: 500px;
    margin: 0 auto;
}

#colorControls {
    margin-top: 20px;
    text-align: center;
}
#colorControls label, #colorControls input {
    margin: 5px;
}

